@page "/acerca_de"
@rendermode InteractiveServer
<link href="AcercaDe.css" rel="stylesheet" />

<PageTitle>Acerca de Mi</PageTitle>

<h1>Acerca de Mí</h1>
<img src="images/yo.png" style="width: 200px;" alt="Imagen de mí" />

<p>Hola, soy Aarón Carmona!! </p>

<p>Puedes contactarme a través de:</p>
<a href="https://wa.me/+18299933365?text=Hola te contacto para un trabajo bueno, Te pagaremos mucho dinero" target="_blank">Mi WhatsApp</a>
<br />
<a href="https://t.me/el_seven16?text=Hola te contacto para un trabajo bueno, Te pagaremos mucho dinero" target="_blank">Mi Telegram</a>