@page "/delete-confirmation/{Type}/{Id:int}"
@inject MediaDbContext DbContext
@inject NavigationManager NavigationManager
@using Microsoft.EntityFrameworkCore

<h3>Confirmar Eliminado</h3>
<p>Estas seguro que deseas borrar esto @Tipo?</p>

<button class="btn btn-danger" @onclick="ConfirmarDelete">Borrar</button>
<button class="btn btn-secondary" @onclick="Cancelar">Cancelar</button>

@code
{
    [Parameter]
    public string Tipo { get; set; }

    [Parameter]
    public int Id {get; set;}

    private async Task ConfirmarDelete()
    {
        if (Tipo == "media")
        {
            var media = await DbContext.Medias.FindAsync(Id);
            if (media != null)
            {
                DbContext.Medias.Remove(media);
                await DbContext.SaveChangesAsync();
            }
            NavigationManager.NavigateTo("/");
        }
        else if (Tipo == "personaje")
        {
            var personaje = await DbContext.Personajes.FindAsync(Id);
            if(personaje != null)
            {
                var mediaId = personaje.MediaId;
                DbContext.Personajes.Remove(personaje);
                await DbContext.SaveChangesAsync();
                NavigationManager.NavigateTo($"/characters/{mediaId}");
            }
        }
    }
    private void Cancelar()
    {
        NavigationManager.NavigateTo("/");
    }

}