<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Tarea2</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Index
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="acerca_de">
                <span class="bi bi-person-circle" aria-hidden="true"></span> Acerca De Mí
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ejercicio1">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Ejercicio 1
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ejercicio2">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Ejercicio 2
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ejercicio3">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Ejercicio 3
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ejercicio4">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Ejercicio 4
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ejercicio5">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Ejercicio 5
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ejercicio6">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Ejercicio 6
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ejercicio7">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Ejercicio 7
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ejercicio8">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Ejercicio 8
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ejercicio9">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Ejercicio 9
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ejercicio10">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Ejercicio 10
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ejercicio11">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Ejercicio 11
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ejercicio12">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Ejercicio 12
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ejercicio13">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Ejercicio 13
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ejercicio14">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Ejercicio 14
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ejercicio15">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Ejercicio 15
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ejercicio16">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Ejercicio 16
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ejercicio17">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Ejercicio 17
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ejercicio18">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Ejercicio 18
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ejercicio19">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Ejercicio 19
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ejercicio20">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Ejercicio 20
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ejercicio21">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Ejercicio 21
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ejercicio22">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Ejercicio 22
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ejercicio23">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Ejercicio 23
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ejercicio24">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Ejercicio 24
            </NavLink>
        </div>
    </nav>
</div>

