@inherits LayoutComponentBase

<div class="page">
    <div class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">Detención</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/mantenimiento">Mantenimiento</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/calendario">Calendario</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/mapa">Mapa</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/acerca-de">Acerca de</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <div class="container">
        @Body
    </div>

</div>
