@page "/acerca_de"

<PageTitle>Acerca De Mí</PageTitle>

<h1>Acerca de Mí</h1>

<p>Lo sé, quieres saber más de mi porque <br />
te quedaste loco con la página y me quieres contratar verdad? jeje</p>

<h3>¡Hola!</h3>

<div style="display: flex; align-items: center;">
<img src= "images/yo.png" style="width:350px" alt="Imagen de mi" />

<div>
        <h3 style="margin-middle: 100; font-size: 24px; color: #333;">
        Aarón Gabriel Carmona Tavárez</h3>
        <p style="margin-top: 10px; font-size: 18px; color: #666;">
            Soy estudiante de Software, me gusta mucho la programación web. <br />
            Y cuando termine el ITLA me gustaría reunir el dinero suficiente para
            comprarme una PC gamer y dedicarme a ser streamer y para no tener miedo
            a quedarme pobre, seguir trabajando pero de frontend. <br /><br />
            Correo: 20231360@itla.edu.do <br />
            Telegram: 
            <a href="https://t.me/el_seven16/" target="_blank">el_seven16</a> <br />
            Whatsapp: 
            <a href="https://wa.me/18299933365" target="_blank">Aaron Carmona</a> <br />
        </p>
    </div>

</div>