@page "/"

<PageTitle>Inicio</PageTitle>

<h1>Inicio</h1>

<h3>Bienvenido a la aplicación web de Aarón!!!!</h3>
<p>Esta es una app web sencillita hecha con sudor y lagrimas por mi.<br />
A continuación te digo una frase motivadora para que no te rindas<br />
y acabes vendiendo aguacate en una esquina de carro público. 😢</p>


<h3>Frase motivadora del día :)</h3>
<p>Si ya has revisado el codigo completo y sigue habiendo problemas<br />Recuerda
que el culpable siempre será el ; 💀<br />
(chiste no valido para python users)</p>

<img class="img-fluid" src= "https://i.pinimg.com/564x/d5/dc/2d/d5dc2de2521eb17c0e4e91e87e44fa35.jpg"/>
